#Main_Title
{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 15%;
}
#Main_Text
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
}
#Sub_Text
{
    margin-top: 5%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
}
